.accordion {

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &__control {
    position: relative;
    padding-right: 20px;
    padding-left: 44px;
    text-align: left;
    list-style: none;
    width: 100%;

    &::-webkit-details-marker {
      display: none;
    }

    &:focus {
      outline: 2px solid var(--dark-color);
      outline-offset: 2px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--dark-color);
  }

  &__content {
    margin: 0;
    padding-left: 20px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.3s ease-out;
    box-sizing: content-box;

    p {
      margin: 0;
      padding-left: 26px;
      max-width: 375px;
      font-size: 16px;
      line-height: 160%;
      color: var(--storm-color);
    }
  }

  &__icon {
    position: absolute;
    left: 1px;
    top: 10px;
    display: block;
    width: 22px;
    height: 22px;
    transition: transform 0.3s ease-out;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      border-radius: 100px;
      width: 100%;
      height: 2px;
      background-color: var(--accent-color);
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      border-radius: 100px;
      width: 2px;
      height: 100%;
      background-color: var(--accent-color);
      transform: translateX(-50%);
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.open .accordion__icon {
	transform: none;
  &::after {
    opacity: 0;
  }
}

.open .accordion__content {
	opacity: 1;
	padding: 20px;
}
