.achieve {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url('../img/bg-image-achieve.png');
  background-position: right bottom -350px;
  background-repeat: no-repeat;

  @include minidesk {
    padding-top: 90px;
    padding-bottom: 1px;
  }

  @include mobile {
    padding-top: 60px;
  }

  &__item {
    @include flex-column-center;

    grid-column: 3 span;
    padding-top: 70px;
    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;

    &--recome {
      background-image: url('../img/ic-like.svg');
    }
    &--renov {
      background-image: url('../img/renov.svg');
    }
    &--spec {
      background-image: url('../img/spec.svg');
    }
    &--finish {
      background-image: url('../img/finish.svg');
    }

    @include mobile {
      grid-column: 6 span;
    }
  }


  &__value {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: var(--accent-color);

    @include minidesk {
      font-size: 28px;
      line-height: 50px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--dark-color);
  }

  &__list {
    margin-bottom: 260px;

    @include minidesk {
      margin-bottom: 120px;
    }

    @include tablet {
      grid-template-columns: repeat(6, 1fr);
    }

    @include mobile {
      margin-bottom: 60px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;

    @include tablet {
      display: block;
      padding: 20px 20px;
    }
  }


  &__info {
    position: relative;
    z-index: 10;
    top: -130px;
    left: -30px;
    border-radius: 4px;
    flex-shrink: 0;
    padding: 80px 81px;
    padding-right: 22px;
    padding-bottom: 60px;
    width: 735px;
    box-shadow: var(--main-shadow);
    background: var(--light-color);

    @include minidesk {
      width: 60%;
      padding: 27px 27px;
      top: -52px;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      padding: 15px;
      left: 0;
      top: 0;
    }
  }
}

.quote {
  margin: 0;
  &__content {
    position: relative;
    margin-bottom: 32px;
    padding: 9px 53px;

    @include minidesk {
      margin-bottom: 10px;
      padding: 8px 38px;
    }

    @include mobile {
      padding: 0;
      padding-top: 40px;
      padding-bottom: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      left: -5px;
      top: 8px;
      width: 28px;
      height: 20px;
      background-image: url('../img/braces.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    p {
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: var(--dark-color);

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      @include tablet {
        font-size: 17px;
      }

      @include mobile {
        font-size: 15px;
        line-height: 26px;

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }

  &__footer {
    padding: 20px 53px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--storm-color);
    background-image: url('../img/signature.svg');
    background-repeat: no-repeat;
    background-size: 100px 68px;
    background-position: right 65px center;

    @include mobile {
      padding: 0;
      padding-bottom: 90px;
      background-position: bottom center;
    }
  }

  &__author {
    display: block;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--dark-color);
  }
}
