.footer {
  padding: 80px 0;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--dark-color);

  @include mobile {
    padding: 60px 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);

    @include mobile {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__social {
    @include mobile {
      .social__item:not(:last-child) {
        margin-right: 25px !important;
      }

    }
  }


  &__left {
    grid-column: 7 span;

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__logo {
    margin-right: 60px;

    @include mobile {
      margin: 0;
      margin-bottom: 30px;
    }
  }

  &__top {
    @include flex-v-center;

    margin-bottom: 22px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__descr {
    margin: 0;
    width: 100%;
    max-width: 495px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    @include mobile {
      font-size: 12px;
      line-height: 24px;
      text-align: center;
    }
  }

  &__form {
    grid-column: 5 span;

    @include small-tablet {
      grid-column: 9 span;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__address {
    grid-column: 4 span;
  }

  &__nav {
    grid-column: 8 span;

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__copyright {
    grid-column: 12 span;
    padding-top: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--light-color);

    span {
      padding-left: 22px;
      background-image: url('../img/heart.svg');
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: 2px center;
    }

    @include mobile {
      grid-column: 4 span;
    }

    @include mobile {
      font-size: 11px;
      text-align: center;
    }
  }
}


.footer-form {
  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--light-color);

    @include mobile {
      font-size: 22px;
      line-height: 34px;
      text-align: center;
    }
  }

  &__items {
    @include flex-v-center;

    margin-bottom: 16px;
  }

  .form-field {
    margin: 0;
  }



  .form-field__input {
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 11px 19px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: normal;
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    @include mobile {
      font-size: 9px;
    }
  }
}

.footer-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--light-color);

  @include mobile {
    font-size: 14px;
  }
}

.footer-address {
  padding-top: 20px;
  font-style: normal;

  &__item {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    a {
      color: inherit;
      transition: color 0.3s ease-in-out;

      &:focus {
        outline: 2px solid var(--active-color);
        outline-offset: 2px;
      }

      &:hover {
        color: var(--light-color);

      }

      &:active {
        color: var(--light-color);
      }
    }

    @include mobile {
      font-size: 13px;
    }
  }

  &__name {
    color: var(--light-color);

    @include mobile {
      font-size: 13px;
    }
  }
}


.footer-nav {
  display: flex;
  padding-top: 20px;
  padding-left: 54px;


  &__col {
    &:not(:last-child) {
      margin-right: 124px;

      @include small-tablet {
        margin-right: 65px;
      }

      @include mobile {
        margin-right: 30px;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__link {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: inherit;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--active-color);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--light-color);

    }

    &:active {
      color: var(--light-color);
    }

    @include mobile {
      font-size: 13px;
    }
  }

  @include small-tablet {
    padding-left: 24px;
  }

  @include mobile {
    padding-left: 4px;
  }

}
