.header-contacts {
  @include flex-v-center;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  @include tablet {
    display: none;
  }

  &--nav {
    display: none;

    .header-contacts__link {
      margin-bottom: 20px;
    }

    @include tablet {
      display: block;
    }
  }
}

.contacts-link {
  padding-left: 53px;
  background-position: left center;
  background-size: 40px 40px;
  background-repeat: no-repeat;

  &__caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-color);
  }

  &__value {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--dark-color);
    transition: color 0.3s ease-in-out;

    @include minidesk {
      font-size: 14px;
    }
  }

  &:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
  }

  &:hover {
    .contacts-link__value {
      color: var(--active-color);
    }
  }

  &:active {
    .contacts-link__value {
      color: var(--active-color);
    }
  }

  &--call {
    background-image: url('../img/phone.svg');
  }

  &--mail {
    background-image: url('../img/chat.svg');
  }
}
