.portfolio-section {
  padding: 120px 0;
  background-color: var(--light-color);


  @include mobile {
    padding: 40px 0;
  }

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 60px;

    @include mobile {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__slider-nav {
    transform: translateX(12px);

    @include mobile {
      transform: translateX(33%);
    }
  }

  &__title {
    margin: 0;
    padding-bottom: 12px;
    max-width: 710px;

    @include tablet {
      font-size: 36px;
      line-height: 55px;
    }

    @include small-tablet {
      font-size: 30px;
    }

    @include mobile {
      font-size: 26px;
      line-height: 37px;
      text-align: center;
      max-width: none;
    }
  }


  &__slider {
    margin: 0 -30px -21px;
    padding: 0 30px 100px;
  }


  &__item {
    @include flex-column-center;

    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    background: var(--light-color);
    box-shadow: var(--main-shadow);
    img {
      border-radius: 4px 4px 0px 0px;
    }

  }

  &__content {
    @include flex-column-center;

    text-align: center;
  }

  &__subtitle {
    margin: 0;
    margin-top: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--dark-color);

    @include tablet {
      font-size: 13px;
    }
  }

  &__card {
    display: inline-block;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-color);
  }

  &__btn {
    display: block;
    margin: 0;
    margin-bottom: -50px;
    padding: 11px 24px;
    transition: 0.3s ease-in-out;
    will-change: margin;

    @include small-tablet {
      padding: 10px 10px;
      font-size: 13px;
    }
  }
}


.portfolio-section__item {
  transition: transform 0.3s ease-in-out;
  &:hover {
    .portfolio-section__btn {
      margin-bottom: 24px;
    }
  }
}
