.testimonials {
  padding-top: 97px;
  background-color: var(--athens-color);

  &__content {
    max-width: 612px;

    @include tablet {
      max-width: 700px;
     margin: 0 auto;
    }

  }

  &__title {
    margin-bottom: 60px;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__image {
    position: relative;
    margin-bottom: -60px;
    z-index: 5;
    object-fit: cover;

    @include minidesk {
      width: 400px;
      object-fit: cover;
    }

    @include tablet {
      display: none;
    }
  }

  &__items {
    position: relative;
    padding-bottom: 12px;
  }

  &__slider-nav {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @include tablet {
      display: block;
    }
  }

  @include tablet {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.testimonials-item {
  &__image {
    margin-bottom: 24px;
    overflow: hidden;
    border-radius: 100%;
    width: 72px;
    height: 72px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  &__descr {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-color);
  }

  &__author {
    display: block;
    margin-bottom: 4px;
    padding-right: 110px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--dark-color);
  }

  &__author-position {
    display: block;
    padding-right: 110px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--storm-color);
  }
}
