.we-offer {
  padding: 120px 0;
  background-color: var(--light-color);

  @include tablet {
    padding: 60px 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);

    @include tablet {
      display: block;
    }
  }

  &__image {
    grid-column: 7 span;

    @include tablet {
      display: block;
      text-align: center;
    }
  }

  &__content {
    grid-column: 5 span;
    padding-top: 5px;
    padding-left: 75px;

    @include tablet {
      padding-top: 30px;
      padding-left: 10px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
  }

}

