<section class="clients">
  <div class="container">
    <h2 class="title title--center clients__title">Our clients</h2>
    <div class="list-reset clients__list">
      <a href="#" class="clients__item clients__item--one">
      </a>
      <a href="#" class="clients__item clients__item--two">
      </a>
      <a href="#" class="clients__item clients__item--three">
      </a>
      <a href="#" class="clients__item clients__item--four">
      </a>
      <a href="#" class="clients__item clients__item--five">
      </a>
      <a href="#" class="clients__item clients__item--six">
      </a>
    </div>
  </div>
</section>
