<section class="contacts-section">
  <div class="container contacts-section__container">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts-section__form contacts-form">
      <h3 class="contacts-form__title">A quick way to discuss details</h3>
      <form action="#" class="contacts-form__field">
        <label class="contacts-form__field form-field--gray form-field ">
          <span class="form-field__caption">Name*</span>
          <input type="text" name="Name" class="input-reset form-field__input" placeholder="Your name">
        </label>
        <label class="contacts-form__field form-field--gray form-field ">
          <span class="form-field__caption">Phone*</span>
          <input type="tel" name="tel" class="input-reset form-field__input" placeholder="Your phone number">
        </label>
        <label class="contacts-form__field form-field--gray form-field ">
          <span class="form-field__caption">Email</span>
          <input type="email" name="email" class="input-reset form-field__input" placeholder="Your working email">
        </label>
        <label class="contacts-form__field form-field--gray form-field ">
          <span class="form-field__caption">Message*</span>
          <textarea name="Message" class="input-reset form-field__input form-field__input--big" placeholder="Your message"></textarea>
        </label>
        <div class="contacts-form__bottom">
          <label class="custom-checkbox contacts-form__checkbox">
            <input type="checkbox" class="custom-checkbox__input">
            <span class="custom-checkbox__text">I agree to receive communications from Createx Construction Bureau.</span>
          </label>
            <button class="contacts-form__btn btn-reset btn btn--fill" type="submit">Send Request</button>
        </div>
      </form>
    </div>
  </div>
</section>
