<section class="desicions">
  <div class="container grid">
    <div class="desicions__left">
      <picture>
        <source srcset="img/desicion-img.avif" type="image/avif">
        <source srcset="img/desicion-img.webp" type="image/webp">
        <img loading="lazy" src="img/desicion-img.jpg" class="image" width="495" height="550" alt="image">
      </picture>
    </div>
    <div class="desicions__right">
      <h2 class="title desicions__title">Constructive decisions</h2>
      <ul class="list-reset desicions__list">
        <li class="desicions__item">Vitae ultrices ornare eu sed in est quisque duis id.</li>
        <li class="desicions__item">A fermentum in morbi pretium aliquam adipiscing donec tempus.</li>
        <li class="desicions__item">Mauris odio pellentesque commodo, diam.</li>
        <li class="desicions__item">Fermentum vestibulum est fermentum, egestas gravida scelerisque quis.</li>
        <li class="desicions__item">At pharetra libero blandit risus, fringilla sed commodo diam.</li>
        <li class="desicions__item">Integer ultricies viverra ut enim viverra ut.</li>
      </ul>
    </div>
  </div>
</section>
