<section class="history">
  <div class="container">
    <div class="history__top">
      <h2 class="title history__title">Our history</h2>
      <div class="slider-nav history__slider-nav">
        <button class="btn-reset slider-nav__btn history__prev slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn history__next slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="history__content grid">
      <ul class="list-reset history-nav">
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn history-nav__btn--active">Present</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">March 2019</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">November 2018</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">July 2015</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">August 2010</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">February 2007</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">May 2004</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">October 2001</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">June 2000</button>
        </li>
      </ul>
      <div class="history__item history-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide ">
            <picture>
              <source srcset="../img/history-slider/history-img3.avif" type="image/avif">
              <source srcset="../img/history-slider/history-img3.webp" type="image/webp">
              <img loading="lazy" src="../img/history-slider/history-img3.jpg" class="image" width="810" height="450" alt="img">
            </picture>
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae.</p>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/history-slider/history-img2.avif" type="image/avif">
              <source srcset="../img/history-slider/history-img2.webp" type="image/webp">
              <img loading="lazy" src="../img/history-slider/history-img2.jpg" class="image" width="810" height="450" alt="img">
            </picture>
            <p class="history__descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos unde nemo eos, sit autem in molestiae distinctio quibusdam consequatur deserunt culpa qui, ad doloremque cupiditate?</p>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/history-slider/history-img1.avif" type="image/avif">
              <source srcset="../img/history-slider/history-img1.webp" type="image/webp">
              <img loading="lazy" src="../img/history-slider/history-img1.jpg" class="image" width="810" height="450" alt="img">
            </picture>
            <p class="history__descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos esse, ex officia vitae aut, in cupiditate, saepe consequuntur alias maxime impedit neque! Possimus, repellat eius.</p>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/history-slider/history-img4.avif" type="image/avif">
              <source srcset="../img/history-slider/history-img4.webp" type="image/webp">
              <img loading="lazy" src="../img/history-slider/history-img4.jpg" class="image" width="810" height="450" alt="img">
            </picture>
            <p class="history__descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sunt a vel earum voluptates, sapiente amet esse aliquid doloremque minima ipsum. Necessitatibus, quo.</p>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/history-slider/history-img5.avif" type="image/avif">
              <source srcset="../img/history-slider/history-img5.webp" type="image/webp">
              <img loading="lazy" src="../img/history-slider/history-img5.jpg" class="image" width="810" height="450" alt="img">
            </picture>
            <p class="history__descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam necessitatibus quibusdam quas non nemo nulla repellat fugiat nostrum deleniti, a consectetur quae ut. Laborum, similique ab.</p>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/history-slider/history-img6.avif" type="image/avif">
              <source srcset="../img/history-slider/history-img6.webp" type="image/webp">
              <img loading="lazy" src="../img/history-slider/history-img6.jpg" class="image" width="810" height="450" alt="img">
            </picture>
            <p class="history__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro corrupti quod non tempora voluptate. Est reprehenderit inventore optio, sit iure saepe neque, tempora veritatis impedit labore quam provident amet quia!</p>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/history-slider/history-img7.avif" type="image/avif">
              <source srcset="../img/history-slider/history-img7.webp" type="image/webp">
              <img loading="lazy" src="../img/history-slider/history-img7.jpg" class="image" width="810" height="450" alt="img">
            </picture>
            <p class="history__descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, possimus tenetur labore ducimus facere corporis dignissimos, error saepe, debitis ipsum in quod eaque aliquam a reiciendis. Laboriosam vel quos alias.</p>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/history-slider/history-img8.avif" type="image/avif">
              <source srcset="../img/history-slider/history-img8.webp" type="image/webp">
              <img loading="lazy" src="../img/history-slider/history-img8.jpg" class="image" width="810" height="450" alt="img">
            </picture>
            <p class="history__descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus laborum harum voluptatibus quasi neque vel officiis illum molestiae, libero omnis nulla autem aut eligendi inventore praesentium. Perferendis, error voluptates.</p>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/history-slider/history-img9.avif" type="image/avif">
              <source srcset="../img/history-slider/history-img9.webp" type="image/webp">
              <img loading="lazy" src="../img/history-slider/history-img9.jpg" class="image" width="810" height="450" alt="img">
            </picture>
            <p class="history__descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam at doloremque ipsa amet tempora, et earum explicabo rem ipsum incidunt eaque exercitationem numquam sunt quas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
