<div class="graph-modal">
  <div class="graph-modal__container site-modal" role="dialog" aria-modal="true" data-graph-target="modal-1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h2 class="site-modal__title">Subscribe to our newsletter</h2>
      <form action="#" class="site-modal__form form-1">
        <label class="site-modal__field form-field--gray form-field ">
          <span class="form-field__caption">Name*</span>
          <input type="text" name="Name" class="input-reset form-field__input" placeholder="Your name">
        </label>
        <label class="site-modal__field form-field--gray form-field ">
          <span class="form-field__caption">Email*</span>
          <input type="email" name="email" class="input-reset form-field__input" placeholder="Your working email">
        </label>
        <button class="btn-reset btn site-modal__btn btn--fill" type="submit">Send</button>
      </form>
    </div>
  </div>
  <div class="graph-modal__container site-modal" role="dialog" aria-modal="true" data-graph-target="modal-2">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h2 class="site-modal__title">Subscribe to our newsletter</h2>
      <form action="#" class="site-modal__form form-1">
        <label class="site-modal__field form-field--gray form-field ">
          <span class="form-field__caption">Name*</span>
          <input type="text" name="Name" class="input-reset form-field__input" placeholder="Your name">
        </label>
        <label class="site-modal__field form-field--gray form-field ">
          <span class="form-field__caption">Location*</span>
          <select name="location" class="form-field__select" required>
            <option value="">Choose location</option>
            <option value="New_York">New York</option>
          </select>
        </label>
        <label class="site-modal__field form-field--gray form-field ">
          <span class="form-field__caption">Phone*</span>
          <input type="tel" name="tel" required class="input-reset form-field__input" placeholder="Your phone number">
        </label>
        <label class="site-modal__field form-field--gray form-field ">
          <span class="form-field__caption">Email*</span>
          <input type="email" required name="email" class="input-reset form-field__input" placeholder="Your working email">
        </label>
        <label class="site-modal__field form-field--gray form-field post-form__field--big">
          <span class="form-field__caption">Сovering letter</span>
          <textarea name="Message" class="input-reset form-field__input form-field__input--big"
            placeholder="Your covering letter"></textarea>
        </label>
        <label class="custom-file site-modal__checkbox">
          <input type="file" class="custom-file__input">
          <span class="custom-file__text">Attach your CV*</span>
        </label>
        <button class="btn-reset btn site-modal__btn btn--fill" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
