<section class="partners partners__bg">
  <div class="container">
    <h2 class="title title--center partners__title">Our partners</h2>
    <p class="descr descr--center partners__descr">We are supported by 12+ industry bodies and media partners</p>
    <div class="list-reset partners__list">
      <a href="#" class="partners__item partners__item--one">
      </a>
      <a href="#" class="partners__item partners__item--two">
      </a>
      <a href="#" class="partners__item partners__item--three">
      </a>
      <a href="#" class="partners__item partners__item--four">
      </a>
      <a href="#" class="partners__item partners__item--five">
      </a>
      <a href="#" class="partners__item partners__item--six">
      </a>
      <a href="#" class="partners__item partners__item--onenew">
      </a>
      <a href="#" class="partners__item partners__item--twonew">
      </a>
      <a href="#" class="partners__item partners__item--threenew">
      </a>
      <a href="#" class="partners__item partners__item--fournew">
      </a>
      <a href="#" class="partners__item partners__item--fivenew">
      </a>
      <a href="#" class="partners__item partners__item--sixnew">
      </a>
    </div>
  </div>
</section>
