<section class="portfolio-section">
  <div class="container">
    <div class="portfolio-section__top">
      <h2 class="title portfolio-section__title">Browse our selected projects and learn more about our work</h2>
      <div class="slider-nav portfolio-section__slider-nav">
        <button class="btn-reset slider-nav__btn portfolio-section__prev slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn portfolio-section__next slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper portfolio-section__slider">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
          <a href="#" class="portfolio-section__item">
            <picture>
              <source srcset="../img/slider1.avif" type="image/avif">
              <source srcset="../img/slider1.webp" type="image/webp">
              <img loading="lazy" src="../img/slider1.jpg." class="image" width="390" height="345" alt="img">
            </picture>
            <div class="portfolio-section__content">
              <h3 class="portfolio-section__subtitle">Red Finger Building</h3>
              <span class="portfolio-section__card">Business Centers</span>
              <div class="portfolio-section__btn btn btn--accent-stroke">View Project</div>
            </div>
          </a>
         </div>
         <div class="swiper-slide">
          <a href="#" class="portfolio-section__item">
            <picture>
              <source srcset="../img/slider2.avif" type="image/avif">
              <source srcset="../img/slider2.webp" type="image/webp">
              <img loading="lazy" src="../img/slider2.jpg." class="image" width="390" height="345" alt="img">
            </picture>
            <div class="portfolio-section__content">
              <h3 class="portfolio-section__subtitle">Cubes Building</h3>
              <span class="portfolio-section__card">Business Centers</span>
              <div class="portfolio-section__btn btn btn--accent-stroke">View Project</div>
            </div>
          </a>
         </div>
         <div class="swiper-slide">
          <a href="#" class="portfolio-section__item">
            <picture>
              <source srcset="../img/slider3.avif" type="image/avif">
              <source srcset="../img/slider3.webp" type="image/webp">
              <img loading="lazy" src="../img/slider3.jpg." class="image" width="390" height="345" alt="img">
            </picture>
            <div class="portfolio-section__content">
              <h3 class="portfolio-section__subtitle">The Pencil Building</h3>
              <span class="portfolio-section__card">Stores & Malls</span>
              <div class="portfolio-section__btn btn btn--accent-stroke">View Project</div>
            </div>
          </a>
         </div>
         <div class="swiper-slide">
          <a href="#" class="portfolio-section__item">
            <picture>
              <source srcset="../img/slider4.avif" type="image/avif">
              <source srcset="../img/slider4.webp" type="image/webp">
              <img loading="lazy" src="../img/slider4.jpg." class="image" width="390" height="345" alt="img">
            </picture>
            <div class="portfolio-section__content">
              <h3 class="portfolio-section__subtitle">Twins Skyscrapers</h3>
              <span class="portfolio-section__card">Business Centers</span>
              <div class="portfolio-section__btn btn btn--accent-stroke">View Project</div>
            </div>
          </a>
         </div>
         <div class="swiper-slide">
          <a href="#" class="portfolio-section__item">
            <picture>
              <source srcset="../img/slider5.avif" type="image/avif">
              <source srcset="../img/slider5.webp" type="image/webp">
              <img loading="lazy" src="../img/slider5.jpg." class="image" width="390" height="345" alt="img">
            </picture>
            <div class="portfolio-section__content">
              <h3 class="portfolio-section__subtitle">Brown Concrete Building</h3>
              <span class="portfolio-section__card">Stores & Malls</span>
              <div class="portfolio-section__btn btn btn--accent-stroke">View Project</div>
            </div>
          </a>
         </div>
      </div>
    </div>
    <div class="portfolio-section__learn learn-more">
      <h4 class="learn-more__subtitle">Explore all our works</h4>
      <a href="#" class="btn-reset learn-more__btn btn btn--fill">View portfolio</a>
    </div>
  </div>
</section>
