<form class="post-form">
  <h2 class="title title--center post-form__title">Leave your comment</h2>
  <div class="post-form__content">
    <label class="post-form__field form-field--gray form-field ">
      <span class="form-field__caption">Name*</span>
      <input type="text" name="Name" required class="input-reset form-field__input" placeholder="Your name">
    </label>
    <label class="post-form__field form-field--gray form-field ">
      <span class="form-field__caption">Email</span>
      <input type="email" name="email" required class="input-reset form-field__input" placeholder="Your working email">
    </label>
    <label class="post-form__field form-field--gray form-field post-form__field--big">
      <span class="form-field__caption">Your comment*</span>
      <textarea name="Message" required class="input-reset form-field__input form-field__input--big" placeholder="Type comment here"></textarea>
    </label>
  </div>
  <div class="centered">
    <button class="post-form__btn btn btn--fill" type="submit">Post comment</button>
  </div>
</form>
