<section class="related-project">
  <div class="container">
    <div class="related-project__top">
      <h2 class="title related-project__title">Related projects</h2>
      <div class="slider-nav related-project__slider-nav">
        <button class="btn-reset slider-nav__btn related-project__prev slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn related-project__next slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper related-project__slider">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
          <a href="#" class="related-project__item">
            <picture>
              <source srcset="img/related1.avif" type="image/avif">
              <source srcset="img/related1.webp" type="image/webp">
              <img loading="lazy" src="img/related1.jpg" class="image" width="390" height="345" alt="img">
            </picture>
            <div class="related-project__content">
              <h3 class="related-project__subtitle">Kids Bedroom With Decorations</h3>
              <span class="related-project__card">Apartments & flats</span>
              <div class="related-project__btn btn btn--accent-stroke">View Project</div>
            </div>
          </a>
         </div>
         <div class="swiper-slide">
          <a href="#" class="related-project__item">
            <picture>
              <source srcset="img/related2.avif" type="image/avif">
              <source srcset="img/related2.webp" type="image/webp">
              <img loading="lazy" src="img/related2.jpg." class="image" width="390" height="345" alt="img">
            </picture>
            <div class="related-project__content">
              <h3 class="related-project__subtitle">Modern Double Bedroom</h3>
              <span class="related-project__card">Apartments & flats</span>
              <div class="related-project__btn btn btn--accent-stroke">View Project</div>
            </div>
          </a>
         </div>
         <div class="swiper-slide">
          <a href="#" class="related-project__item">
            <picture>
              <source srcset="img/related3.avif" type="image/avif">
              <source srcset="img/related3.webp" type="image/webp">
              <img loading="lazy" src="img/related3.jpg." class="image" width="390" height="345" alt="img">
            </picture>
            <div class="related-project__content">
              <h3 class="related-project__subtitle">Brown wooden round</h3>
              <span class="related-project__card">Stores & Malls</span>
              <div class="related-project__btn btn btn--accent-stroke">View Project</div>
            </div>
          </a>
         </div>
         <div class="swiper-slide">
          <a href="#" class="related-project__item">
            <picture>
              <source srcset="img/related4.avif" type="image/avif">
              <source srcset="img/related4.webp" type="image/webp">
              <img loading="lazy" src="img/related4.jpg." class="image" width="390" height="345" alt="img">
            </picture>
            <div class="related-project__content">
              <h3 class="related-project__subtitle">White living room set</h3>
              <span class="related-project__card">Business Centers</span>
              <div class="related-project__btn btn btn--accent-stroke">View Project</div>
            </div>
          </a>
         </div>
         <div class="swiper-slide">
          <a href="#" class="related-project__item">
            <picture>
              <source srcset="img/related5.avif" type="image/avif">
              <source srcset="img/related5.webp" type="image/webp">
              <img loading="lazy" src="img/related5.jpg." class="image" width="390" height="345" alt="img">
            </picture>
            <div class="related-project__content">
              <h3 class="related-project__subtitle">Black beside</h3>
              <span class="related-project__card">Stores & Malls</span>
              <div class="related-project__btn btn btn--accent-stroke">View Project</div>
            </div>
          </a>
         </div>
      </div>
    </div>
    <div class="related-project__learn learn-more">
      <h4 class="learn-more__subtitle">Explore all our works</h4>
      <a href="#" class="btn-reset learn-more__btn btn btn--fill">View portfolio</a>
    </div>
  </div>
</section>
