<section class="services">
  <img src="img/bg-services1.png" alt="decor" aria-hidden="true" class="services-decorate1">
  <img src="img/bg-services2.png" alt="decor" aria-hidden="true" class="services-decorate2">
  <div class="container">
    <h2 class="visually-hidden">Services content</h2>
    <ul class="list-reset services__list">
      <li class="services__item">
        <div class="services__image">
          <img src="img/services--1.jpg" alt="services1">
        </div>
        <div class="services__info">
          <h2 class="services__title">Construction</h2>
          <p class="services__descr">Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id sodales ultricies sed ut ut augue. Mattis habitant venenatis, gravida posuere massa ac interdum. Eget aliquam dignissim ut vestibulum. </p>
          <a href="services1.html" class="services__link btn btn--stroke btn--accent-stroke">Learn more</a>
        </div>
      </li>
      <li class="services__item">
        <div class="services__info">
          <h2 class="services__title">Project Development</h2>
          <p class="services__descr">Volutpat tellus mauris sit sit. Posuere ut sit vestibulum amet viverra in. Est nulla lectus purus tincidunt massa tortor. Hendrerit vulputate elementum blandit massa vitae amet felis eget. </p>
          <a href="#" class="services__link btn btn--stroke btn--accent-stroke">Learn more</a>
        </div>
        <div class="services__image">
          <img src="img/services--2.jpg" alt="services2">
        </div>
      </li>
      <li class="services__item">
        <div class="services__image">
          <img src="img/services--3.jpg" alt="services3">
        </div>
        <div class="services__info">
          <h2 class="services__title">Interior Design</h2>
          <p class="services__descr">Eleifend orci massa et facilisis orci feugiat ac. Congue in ut lacus, turpis accumsan gravida. Aliquet mattis dignissim massa sociis a, id bibendum. Egestas lorem eros, mi cras amet, vel eget molestie. Turpis enim arcu, amet donec massa pellentesque nulla duis. Arcu dictum metus sed purus senectus faucibus eget elementum pretium. </p>
          <a href="#" class="services__link btn btn--stroke btn--accent-stroke">Learn more</a>
        </div>
      </li>
      <li class="services__item">
        <div class="services__info">
          <h2 class="services__title">Repairs</h2>
          <p class="services__descr">Facilisis cursus feugiat sit pulvinar amet. Ac facilisi dictum commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id egestas mattis. Turpis viverra nec urna ultrices urna. </p>
          <a href="#" class="services__link btn btn--stroke btn--accent-stroke">Learn more</a>
        </div>
        <div class="services__image">
          <img src="img/services--4.jpg" alt="services4">
        </div>
      </li>
    </ul>
  </div>
</section>
