<section class="team">
  <div class="container">
    <h2 class="title title--center">Our team</h2>
    <p class="descr descr--center">People are at the heart of Createx Construction Bureau  </p>
    <ul class="list-reset grid team__list">
      <li class="team__item">
        <div class="team__top">
          <picture>
            <source srcset="../img/our-team/image1.avif" type="image/avif">
            <source srcset="../img/our-team/image1.webp" type="image/webp">
            <img loading="lazy" src="../img/our-team/image1.jpg" class="image" width="285" height="340" alt="img">
          </picture>
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>

        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>

      </li>
      <li class="team__item">
        <div class="team__top">
          <picture>
            <source srcset="../img/our-team/image2.avif" type="image/avif">
            <source srcset="../img/our-team/image2.webp" type="image/webp">
            <img loading="lazy" src="../img/our-team/image2.jpg" class="image" width="285" height="340" alt="img">
          </picture>
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>

        <div class="team__name">Calvin Fox</div>
        <div class="team__post">CTO, Co-Founder</div>

      </li>
      <li class="team__item">
        <div class="team__top">
          <picture>
            <source srcset="../img/our-team/image3.avif" type="image/avif">
            <source srcset="../img/our-team/image3.webp" type="image/webp">
            <img loading="lazy" src="../img/our-team/image3.jpg" class="image" width="285" height="340" alt="img">
          </picture>
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Johnny Lane</div>
        <div class="team__post">Commercial Manager</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <picture>
            <source srcset="../img/our-team/image4.avif" type="image/avif">
            <source srcset="../img/our-team/image4.webp" type="image/webp">
            <img loading="lazy" src="../img/our-team/image4.jpg" class="image" width="285" height="340" alt="img">
          </picture>
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>

        <div class="team__name">Diane Mccoy</div>
        <div class="team__post">Director of Human Resources</div>

      </li>
      <li class="team__item">
        <div class="team__top">
          <picture>
            <source srcset="../img/our-team/image5.avif" type="image/avif">
            <source srcset="../img/our-team/image5.webp" type="image/webp">
            <img loading="lazy" src="../img/our-team/image5.jpg" class="image" width="285" height="340" alt="img">
          </picture>
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>

        <div class="team__name">Judith Warren</div>
        <div class="team__post">Lead Accountant</div>

      </li>
      <li class="team__item">
        <div class="team__top">
          <picture>
            <source srcset="../img/our-team/image6.avif" type="image/avif">
            <source srcset="../img/our-team/image6.webp" type="image/webp">
            <img loading="lazy" src="../img/our-team/image6.jpg" class="image" width="285" height="340" alt="img">
          </picture>
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>

        <div class="team__name">Floyd Simmmons</div>
        <div class="team__post">Finacial Director</div>

      </li>
      <li class="team__item">
        <div class="team__top">
          <picture>
            <source srcset="../img/our-team/image7.avif" type="image/avif">
            <source srcset="../img/our-team/image7.webp" type="image/webp">
            <img loading="lazy" src="../img/our-team/image7.jpg" class="image" width="285" height="340" alt="img">
          </picture>
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>

        <div class="team__name">Serenity Edwards</div>
        <div class="team__post">Director of Marketing</div>

      </li>
      <li class="team__item">
        <div class="team__top">
          <picture>
            <source srcset="../img/our-team/image8.avif" type="image/avif">
            <source srcset="../img/our-team/image8.webp" type="image/webp">
            <img loading="lazy" src="../img/our-team/image8.jpg" class="image" width="285" height="340" alt="img">
          </picture>
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>

        <div class="team__name">Shawn Edwards</div>
        <div class="team__post">Tech Lead</div>

      </li>
    </ul>
    <div class="team__text">Become a part of the best team in the construction market of the USA. <a href="positions.html">Available Positions</a></div>
  </div>
</section>
